{{ define "contatos" }}
    {{ template "head" }}
        <header>
            <h1>• LISTA DE CONTATOS •</h1>
        </header>

        <section>
            <div>
                <p>Selecione um contato e escolha uma das opções:</p>
                <p><select name="sel" id="sel" size="10">
                {{ range . }}
                <option value="">{{ .Id }} {{ .Nome }}</option>
                {{ end }}
                </select></p>
            <div class="button-container">
                <p><form action="/editar" method="POST">
                    <div>
                        <input type="submit" value="Editar">
                    </div>
                </form>
                <form action="/remover" method="POST">
                    <div>
                        <input type="submit" value="Remover">
                    </div>
                </form></p>
                <p><form action="/" method="POST"><input type="submit" value="Voltar"></form></p>
                </div>
            </div>
        </section>
    {{ template "foot" }}
{{ end }}
