<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Teste Estagiário - GoLang</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>

<body>

    <header>
        <h1>• Página de cadastros •</h1>
    </header>

    <section>
        <div>
            <p>DELETAR CONTATOS:</p>
            <p><select name="sel" id="sel" size="10"></select></p>
            <div class="button-container">
                <p><form action="/del" method="post">
                    <div>
                        <input type="submit" value="Deletar">
                    </div>
                </form>
                <form action="/" method="POST">
                    <div>
                        <input type="submit" value="Voltar">
                    </div>
                </form></p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; Luiz Guizi</p>
    </footer>

    <script src="static/script.js"></script>

</body>
</html>
