<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Teste Estagiário - GoLang</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>

<body>

    <header>
        <h1>• Página de cadastros •</h1>
    </header>

    <section>
        <div>
            <p>MENU:</p>
            <p><input type="button" value="1. LISTAR CONTATOS" id="listar" onclick="lista()"></p>
            <p><input type="button" value="2. CRIAR CONTATOS" id="criar" onclick="criar()"><p>
            <p><input type="button" value="3. EDITAR CONTATOS" id="editar" onclick="editar()"></p>
            <p><input type="button" value="4. DELETAR CONTATOS" id="del" onclick="del()"></p>
        </div>
    </section>

    <footer>
        <p>&copy; Luiz Guizi</p>
    </footer>

    <script src="static/script.js"></script>

</body>
</html>
